[submodule "libs/stub/qq-stub"]
	path = libs/stub/qq-stub
	url = https://github.com/LuckyPray/qq-stub
[submodule "libs/ui/xView/EasyAdapter"]
	path = libs/ui/xView/EasyAdapter
	url = https://github.com/cwuom/EasyAdapter
[submodule "libs/ui/xView/XPopup"]
	path = libs/ui/xView/XPopup
	url = https://github.com/cwuom/XPopup
[submodule "libs/ui/DialogX"]
	path = libs/ui/DialogX
	url = https://github.com/cwuom/DialogX
